#navbar-container{
  position: relative;
  width: 100%;
  float: left;
}

#onpage{
  text-decoration: underline overline;
}

#main-navbar{
  background-color: blue;
  overflow: hidden;
}

#main-navbar ul{
  padding: 0;
  margin: 0;
  left: 50%;
  position: relative;
  float: left;
  list-style-type: none;
}

#main-navbar ul li{
  display: block;
  right: 50%
  position: relative;
  float: left;
  list-style-type: none;
}

#main-navbar ul li a{
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #000;
}

#sidebar-container ul {
  padding: 0;
}

#sidebar-container ul li{
  list-style-type: none;
}

#sidebar-container ul li a{
  display: block;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#sidebar-container ul li a:hover{
  background-color: #000;
}

#sidebar{
  background-color: red;
  position: fixed;
  right: 0;
  width: 20%;
  height: 100%
}
