main-navbar#main-navbar{
  background-color: blue;
  overflow: hidden;
}

nav#main-navbar ul{
  padding: 0;
  margin: 0;
  left: 50%;
  position: relative;
  float: left;
  list-style-type: none;
}

nav#main-navbar ul li{
  display: block;
  right: 50%
  position: relative;
  float: left;
  list-style-type: none;
}

nav#main-navbar ul li a{
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}
